<div class="hidden md:block">
  <footer class="container flex justify-end py-8 pr-4">
    <div>
      <span class="text-muted align-middle">© 2024 Rental System, Inc</span>
    </div>

    <ul class="flex justify-center mb-0" style="font-size: x-large">
      <li class="mx-3">
        <a class="text-muted" href="https://www.twitter.com/b_checkle"
          ><ng-icon name="bootstrapTwitterX" />
        </a>
      </li>
      <li class="mx-3">
        <a class="text-muted"><ng-icon name="bootstrapFacebook" /> </a>
      </li>
      <li class="mx-3">
        <a class="text-muted" href="https://www.instagram.com/b_checkle">
          <ng-icon name="bootstrapInstagram" />
        </a>
      </li>
    </ul>
  </footer>
</div>
