@if(this.isLoading){ } @else if(this.countryList.length == 0) { CountryList not
loaded} @else { @if(this.addressForm != null) {
<form [formGroup]="addressForm" (ngSubmit)="onSubmit()" class="w-full">
  <h2
    class="text-2xl font-bold mb-6 text-center text-light-heading dark:text-dark-heading"
  >
    Add Address
  </h2>

  <div class="grid grid-cols-12 gap-4 col-span-12">
    <div class="col-span-6">
      <label
        for="street1"
        class="block text-sm font-medium text-light-heading dark:text-dark-heading pl-3"
        >Street Address *</label
      >
      <input
        type="text"
        id="street1"
        formControlName="street1"
        class="form-input"
        [ngClass]="{
          'border-light-error':
            addressForm.get('street1')!.invalid &&
            addressForm.get('street1')!.touched
        }"
      />
      @if (
          addressForm.get('street1')!.invalid &&
          addressForm.get('street1')!.touched
        ) {
<p
       
        class="text-light-error dark:text-dark-error text-xs mt-1"
      >
        Street Address is required
      </p>
}
    </div>

    <div class="col-span-6">
      <label
        for="stret2"
        class="block text-sm font-medium text-light-heading dark:text-dark-heading pl-3"
        >Street Address 2
      </label>
      <input
        type="text"
        id="street2"
        formControlName="street2"
        class="form-input"
      />
    </div>

    <div class="col-span-4">
      <label
        for="dependentLocality"
        class="block text-sm font-medium text-light-heading dark:text-dark-heading pl-3"
        >City *</label
      >
      <input
        type="text"
        id="dependentLocality"
        formControlName="dependentLocality"
        class="form-input"
        [ngClass]="{
          'border-light-error':
            addressForm.get('dependentLocality')!.invalid &&
            addressForm.get('dependentLocality')!.touched
        }"
      />
      @if (
          addressForm.get('dependentLocality')!.invalid &&
          addressForm.get('dependentLocality')!.touched
        ) {
<p
       
        class="text-light-error dark:text-dark-error text-xs mt-1"
      >
        City is required
      </p>
}
    </div>
    <div class="col-span-4">
      <label
        for="locale"
        class="block text-sm font-medium text-light-heading dark:text-dark-heading pl-3"
        >State/ Province*</label
      >
      <input
        type="text"
        id="locale"
        formControlName="locale"
        class="form-input"
        [ngClass]="{
          'border-light-error':
            addressForm.get('locale')!.invalid &&
            addressForm.get('locale')!.touched
        }"
      />
      @if (
          addressForm.get('locale')!.invalid &&
          addressForm.get('locale')!.touched
        ) {
<p
       
        class="text-light-error dark:text-dark-error text-xs mt-1"
      >
        State/ Province is required
      </p>
}
    </div>

    <div class="col-span-4">
      <label
        for="postalCode"
        class="block text-sm font-medium text-light-heading dark:text-dark-heading pl-3"
        >Postal Code *</label
      >
      <input
        type="text"
        id="postalCode"
        formControlName="postalCode"
        class="form-input"
        [ngClass]="{
          'border-light-error':
            addressForm.get('postalCode')!.invalid &&
            addressForm.get('postalCode')!.touched
        }"
      />
      @if (
          addressForm.get('postalCode')!.invalid &&
          addressForm.get('postalCode')!.touched
        ) {
<p
       
        class="text-light-error dark:text-dark-error text-xs mt-1"
      >
        Valid Postal Code is required
      </p>
}
    </div>
    <div class="col-span-5">
      <label
        for="country"
        class="block text-sm font-medium text-light-heading dark:text-dark-heading pl-3"
        >Country *</label
      >
      <select
        id="country"
        class="form-input rounded-md appearance-auto"
        (change)="onCountryChange($event.target)"
        [ngClass]="{
          'border-light-error':
            addressForm.get('country')!.invalid &&
            addressForm.get('country')!.touched
        }"
      >
        <option value="">Select a Country</option>
        @for (country of countryList; track country.id) {
        <option [value]="country.id">{{ country.name }}</option>
        }
      </select>
      @if (
          addressForm.get('country')!.invalid &&
          addressForm.get('country')!.touched
        ) {
<p
       
        class="text-light-error dark:text-dark-error text-xs mt-1"
      >
        Country is required
      </p>
}
    </div>

    <div class="flex col-span-12 justify-end">
      <button
        type="submit"
        [disabled]="isLoading || addressForm.invalid"
        class="bg-light-content dark:bg-dark-content text-light-section dark:text-dark-accent py-2 px-6 rounded-full flex disabled:bg-light-heading cursor-pointer disabled:cursor-not-allowed"
      >
        Add
      </button>
    </div>
  </div>
</form>
} }
