<div class="justify-center min-h-screen">
  <div class="container max-w-[525px] lg:max-w-4xl px-4">
    @if(customerForm == undefined) {
    <div>FORM IS UNDEF</div>
    } @else {
    <form
      [formGroup]="customerForm"
      (ngSubmit)="onSubmit()"
      class="max-w-2xl mx-auto bg-light-fill dark:bg-dark-section p-8 rounded-lg shadow-lg"
    >
      <h2
        class="text-2xl font-bold mb-6 text-center text-light-heading dark:text-dark-heading"
      >
        Customer Registration
      </h2>
      <div class="grid md:grid-cols-12 gap-4 mb-4">
        <div class="col-span-6">
          <label
            for="firstName"
            class="block text-sm font-medium text-light-heading dark:text-dark-heading pl-3"
            >First Name *</label
          >
          <input
            type="text"
            id="firstName"
            formControlName="firstName"
            class="form-input"
            [ngClass]="{
              'border-red-500': f['firstName'].invalid && f['firstName'].touched
            }"
          />
          <p
            *ngIf="f['firstName'].invalid && f['firstName'].touched"
            class="text-light-error dark:text-dark-error text-xs mt-1"
          >
            First Name is required
          </p>
        </div>

        <div class="col-span-6">
          <label
            for="lastName"
            class="block text-sm font-medium text-light-heading dark:text-dark-heading pl-3"
            >Last Name *</label
          >
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            class="form-input"
            [ngClass]="{
              'border-red-500': f['lastName'].invalid && f['lastName'].touched
            }"
          />
          <p
            *ngIf="f['lastName'].invalid && f['lastName'].touched"
            class="text-light-error dark:text-dark-error text-xs mt-1"
          >
            Last Name is required
          </p>
        </div>

        <div class="flex col-span-12 gap-4 mb-4">
          <div class="col-span-4">
            <label
              for="email"
              class="block text-sm font-medium text-light-heading dark:text-dark-heading pl-3"
              >Email *</label
            >
            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-input"
              [ngClass]="{
                'border-red-500': f['email'].invalid && f['email'].touched
              }"
            />
            <p
              *ngIf="f['email'].invalid && f['email'].touched"
              class="text-light-error dark:text-dark-error text-xs mt-1"
            >
              Valid Email is required
            </p>
          </div>

          <div class="col-span-4">
            <label
              for="primaryPhone"
              class="block text-sm font-medium text-light-heading dark:text-dark-heading pl-3"
              >Primary Phone *</label
            >
            <input
              type="tel"
              id="primaryPhone"
              formControlName="primaryPhone"
              class="form-input"
              [ngClass]="{
                'border-red-500':
                  f['primaryPhone'].invalid && f['primaryPhone'].touched
              }"
            />
            <p
              *ngIf="f['primaryPhone'].invalid && f['primaryPhone'].touched"
              class="text-light-error dark:text-dark-error text-xs mt-1"
            >
              Valid 10-digit phone number is required
            </p>
          </div>

          <div class="col-span-2">
            <label
              for="ext"
              class="block text-sm font-medium text-light-heading dark:text-dark-heading pl-3"
              >Ext</label
            >
            <input
              type="text"
              id="ext"
              formControlName="ext"
              class="form-input"
            />
          </div>
        </div>

        <div class="col-span-4">
          <label
            for="secondaryPhone"
            class="block text-sm font-medium text-light-heading dark:text-dark-heading pl-3"
            >Secondary Phone</label
          >
          <input
            type="tel"
            id="secondaryPhone"
            formControlName="secondaryPhone"
            class="form-input"
          />
        </div>

        <h3 class="text-xl font-semibold mb-4 col-span-12">
          Address Information
        </h3>

        <div
          class="grid grid-cols-12 gap-4 col-span-12"
          formGroupName="billingAddress"
        >
          <div class="col-span-6">
            <label
              for="street1"
              class="block text-sm font-medium text-light-heading dark:text-dark-heading pl-3"
              >Street Address *</label
            >
            <input
              type="text"
              id="street1"
              formControlName="street1"
              class="form-input"
              [ngClass]="{
                'border-light-error':
                  customerForm.get('billingAddress.street1')!.invalid &&
                  customerForm.get('billingAddress.street1')!.touched
              }"
            />
            <p
              *ngIf="
                customerForm.get('billingAddress.street1')!.invalid &&
                customerForm.get('billingAddress.street1')!.touched
              "
              class="text-light-error dark:text-dark-error text-xs mt-1"
            >
              Street Address is required
            </p>
          </div>

          <div class="col-span-6">
            <label
              for="stret2"
              class="block text-sm font-medium text-light-heading dark:text-dark-heading pl-3"
              >Street Address 2
            </label>
            <input
              type="text"
              id="street2"
              formControlName="street2"
              class="form-input"
            />
          </div>

          <div class="col-span-4">
            <label
              for="locale"
              class="block text-sm font-medium text-light-heading dark:text-dark-heading pl-3"
              >City *</label
            >
            <input
              type="text"
              id="locale"
              formControlName="locale"
              class="form-input"
              [ngClass]="{
                'border-light-error':
                  customerForm.get('billingAddress.locale')!.invalid &&
                  customerForm.get('billingAddress.locale')!.touched
              }"
            />
            <p
              *ngIf="
                customerForm.get('billingAddress.locale')!.invalid &&
                customerForm.get('billingAddress.locale')!.touched
              "
              class="text-light-error dark:text-dark-error text-xs mt-1"
            >
              City is required
            </p>
          </div>
          <div class="col-span-4">
            <label
              for="dependentLocality"
              class="block text-sm font-medium text-light-heading dark:text-dark-heading pl-3"
              >State/Province *</label
            >
            <input
              type="text"
              id="dependentLocality"
              formControlName="dependentLocality"
              class="form-input"
              [ngClass]="{
                'border-light-error':
                  customerForm.get('billingAddress.dependentLocality')!
                    .invalid &&
                  customerForm.get('billingAddress.dependentLocality')!.touched
              }"
            />
            <p
              *ngIf="
                customerForm.get('billingAddress.dependentLocality')!.invalid &&
                customerForm.get('billingAddress.dependentLocality')!.touched
              "
              class="text-light-error dark:text-dark-error text-xs mt-1"
            >
              State/Province is required
            </p>
          </div>
          <div class="col-span-4">
            <label
              for="postalCode"
              class="block text-sm font-medium text-light-heading dark:text-dark-heading pl-3"
              >Postal Code *</label
            >
            <input
              type="text"
              id="postalCode"
              formControlName="postalCode"
              class="form-input"
              [ngClass]="{
                'border-light-error':
                  customerForm.get('billingAddress.postalCode')!.invalid &&
                  customerForm.get('billingAddress.postalCode')!.touched
              }"
            />
            <p
              *ngIf="
                customerForm.get('billingAddress.postalCode')!.invalid &&
                customerForm.get('billingAddress.postalCode')!.touched
              "
              class="text-light-error dark:text-dark-error text-xs mt-1"
            >
              Valid Postal Code is required
            </p>
          </div>
          <div class="col-span-5">
            <label
              for="country"
              class="block text-sm font-medium text-light-heading dark:text-dark-heading pl-3"
              >Country *</label
            >
            <select
              id="country"
              class="form-input rounded-md appearance-auto"
              (change)="onCountryChange($event.target)"
              [ngClass]="{
                'border-light-error':
                  customerForm.get('billingAddress.country')!.invalid &&
                  customerForm.get('billingAddress.country')!.touched
              }"
            >
              <option value="">Select a Country</option>
              @for (country of countryList; track country.id) {
              <option [value]="country.id">{{ country.name }}</option>
              }
            </select>
            <p
              *ngIf="
                customerForm.get('billingAddress.country')!.invalid &&
                customerForm.get('billingAddress.country')!.touched
              "
              class="text-light-error dark:text-dark-error text-xs mt-1"
            >
              Country is required
            </p>
          </div>

          <div class="flex col-span-12 justify-end">
            <button
              type="submit"
              [disabled]="customerForm.invalid"
              class="bg-light-content dark:bg-dark-content text-light-section dark:text-dark-accent py-2 px-4 rounded-full flex"
            >
              Add
            </button>
          </div>
        </div>
      </div>
    </form>
    }
  </div>
</div>
