<div class="justify-center min-h-screen">
  <div class="container min-h-full max-w-[625px] lg:max-w-6xl p-1 md:p-2">
    <div class="flex border-b border-gray-200">
      <button
        *ngFor="let tab of tabs; let i = index"
        (click)="selectTab(i)"
        [class]="
          'px-6 py-3 text-sm font-medium rounded-t-lg transition-all duration-200 border-2 border-b-0' +
          (activeTab === i
            ? 'bg-white text-light-primary shadow-sm border-light-border'
            : 'text-light-heading hover:text-gray-700 hover:bg-gray-50 border-light-fill')
        "
      >
        <div class="flex items-center space-x-2">
          <span [class.font-bold]="activeTab === i">{{ tab.label }}</span>
          <div
            *ngIf="tab.badge"
            [class]="
              'px-2 py-0.5 text-xs rounded-full ' +
              (activeTab === i
                ? 'bg-blue-100 text-blue-600'
                : 'bg-gray-100 text-gray-600')
            "
          >
            {{ tab.badge }}
          </div>
        </div>
      </button>
    </div>

    <div class="mt-8 bg-light-fill dark:bg-dark-section rounded-sm shadow-lg">
      @if(this.isLoading) {
      <div
        id="loading-overlay"
        class="h-screen w-full flex items-center justify-center bg-light-heading bg-opacity-10 z-50 rounded-md"
      >
        <div
          class="animate-spin rounded-full h-16 w-16 border-t-4 border-b-4 border-white"
        ></div>
      </div>
      } @else if (this.orderId == null) {
      <div class="flex flex-col items-center justify-center">
        Order Id is null
      </div>

      } @else { @if(this.activeTab === 0) { @if(this.orderHistory.length == 0) {
      <p>List is empty</p>
      } @else {
      <table class="w-full leading-normal mt-2">
        <thead>
          <tr
            class="bg-light-section rounded-md dark:bg-dark-section text-light-heading dark:text-dark-heading uppercase text-sm font-semibold"
          >
            <th
              class="px-3 py-3 border-b-2 border-light-border dark:border-dark-border text-left"
            >
              Date
            </th>

            <th
              class="px-3 py-3 border-b-2 border-light-border dark:border-dark-border text-left"
            >
              Field Changed
            </th>
            <th
              class="px-3 py-3 border-b-2 border-light-border dark:border-dark-border text-left"
            >
              Old Value
            </th>

            <th
              class="px-3 py-3 border-b-2 border-light-border dark:border-dark-border text-left"
            >
              New Value
            </th>
            <th
              class="px-3 py-3 border-b-2 border-light-border dark:border-dark-border text-center"
            >
              Changed By
            </th>
          </tr>
        </thead>
        @for(historyItem of this.orderHistory; track historyItem.id) {
        @if(historyItem.propertyName != "Updated") {
        <tr
          class="hover:bg-light-accent hover:dark:bg-dark-accent bg-light-section dark:bg-dark-border border-light-border dark:border-dark-border cursor-pointer"
        >
          <td class="px-1.5 py-2 text-sm text-left">
            {{ historyItem.changedAt | date : "EE MMM dd" : "UTC" }}
          </td>
          <td class="px-1.5 py-2 text-sm text-left">
            {{
              fieldNameDisplay[historyItem.propertyName] ||
                historyItem.propertyName
            }}
          </td>
          <td class="px-1.5 py-2 text-sm text-left">
            <span
              class="relative text-red-500 line-through decoration-2 opacity-80 group text-left"
            >
              @switch(historyItem.propertyName) { @case ("DeliveryWindow") {
              @if(historyItem.changedFrom.length > 0) { @for(window of
              getParedDate(historyItem.changedFrom); track $index) {
              <div class="flex">
                @for(date of window; track $index) {
                {{ date | date : "EE MMM dd" : "UTC" }}, }
              </div>
              } } } @case ("PickupWindow") { @if(historyItem.changedFrom.length
              > 0) { @for(window of getParedDate(historyItem.changedFrom); track
              $index) {
              <div class="flex">
                - @for(date of window; track $index) {
                {{ date | date : "EE MMM dd" : "UTC" }}, }
              </div>
              } }} @case ("EventTypeId") {
              {{ this.getEventType(historyItem.changedFrom) }}
              } @case ("EventDate") {
              {{ historyItem.changedFrom | date : "EE. MMM dd, yyyy" : "UTC" }}
              } @case ("ShippedToAddressId") {
              {{ this.getAddress(historyItem.changedFrom) }}
              } @default {
              {{ historyItem.changedFrom }}
              } }
              <span
                class="bottom-0 left-0 w-full h-0.5 bg-red-500 origin-left"
              ></span>
            </span>
          </td>
          <td class="px-1.5 py-2 text-sm text-left">
            <span class="inline-block text-green-600 bg-green-100 rounded px-1">
              @switch(historyItem.propertyName) { @case ("DeliveryWindow") {
              @if(historyItem.changedTo.length > 0) { @for(window of
              getParedDate(historyItem.changedTo); track $index) { @for(date of
              window; track $index) {
              {{ date | date : "EE MMM dd" : "UTC" }}, } } } } @case
              ("PickupWindow") { @for(window of
              getParedDate(historyItem.changedTo); track $index) {
              <div class="flex">
                @for(date of window; track $index) {
                {{ date | date : "EE MMM dd" : "UTC" }}, }
              </div>
              } } @case ("EventTypeId") {
              {{ this.getEventType(historyItem.changedTo) }}
              } @case ("EventDate") {
              {{ historyItem.changedTo | date : "EE. MMM dd, yyyy" : "UTC" }}
              } @case ("ShippedToAddressId") {
              {{ this.getAddress(historyItem.changedTo) }}
              } @default {
              {{ historyItem.changedTo }}
              } }
            </span>
          </td>
          <td class="px-1.5 py-2 text-sm text-center">
            {{ historyItem.changedByUserId.substring(0, 5) }}
          </td>
        </tr>
        } }
      </table>
      } }@else if(this.activeTab === 1) {
      <table class="w-full leading-normal mt-2">
        <thead>
          <tr
            class="bg-light-section rounded-md dark:bg-dark-section text-light-heading dark:text-dark-heading uppercase text-sm font-semibold"
          >
            <th
              class="px-3 py-3 border-b-2 border-light-border dark:border-dark-border text-left"
            >
              Date
            </th>

            <th
              class="px-3 py-3 border-b-2 border-light-border dark:border-dark-border text-left"
            >
              Item
            </th>
            <th
              class="px-3 py-3 border-b-2 border-light-border dark:border-dark-border text-left"
            >
              Old Value
            </th>

            <th
              class="px-3 py-3 border-b-2 border-light-border dark:border-dark-border text-left"
            >
              New Value
            </th>
            <th
              class="px-3 py-3 border-b-2 border-light-border dark:border-dark-border text-center"
            >
              Changed By
            </th>
          </tr>
        </thead>
        @for(itemHistory of this.orderItemHistory; track itemHistory.id) {

        <tr
          class="hover:bg-light-accent hover:dark:bg-dark-accent bg-light-section dark:bg-dark-border border-light-border dark:border-dark-border cursor-pointer"
        >
          <td class="px-1.5 py-2 text-sm text-left">
            {{ itemHistory.changedDate | date : "EE MMM dd" : "UTC" }}
          </td>
          <td class="px-1.5 py-2 text-sm text-left">
            {{ getItemDisplayName(itemHistory.itemId) || itemHistory.itemId }}
          </td>
          <td class="px-1.5 py-2 text-sm text-left">
            <span
              class="relative text-red-500 line-through decoration-2 opacity-80 group text-left"
            >
              {{ itemHistory.oldQuantity }}

              <span
                class="bottom-0 left-0 w-full h-0.5 bg-red-500 origin-left"
              ></span>
            </span>
          </td>
          <td class="px-1.5 py-2 text-sm text-left">
            <span class="inline-block text-green-600 bg-green-100 rounded px-1">
              {{ itemHistory.newQuantity }}
            </span>
          </td>
          <td class="px-1.5 py-2 text-sm text-center">
            {{ itemHistory.changedByUserId.substring(0, 5) }}
          </td>
        </tr>
        }
      </table>
      } }
    </div>
  </div>
</div>
