<div class="justify-center min-h-screen">
  <div class="container max-w-[525px] lg:max-w-6xl p-4 md:p-2">
    @if(this.isLoading) {
    <div
      id="loading-overlay"
      class="h-screen flex items-center justify-center bg-light-heading bg-opacity-10 z-50 rounded-md"
    >
      <div
        class="animate-spin rounded-full h-16 w-16 border-t-4 border-b-4 border-white"
      ></div>
    </div>
    } @else { @if(this.orderContext != null) { @if(orderForm == null) { Order
    Form is NUll} @else if (this.customerContext == null) {Customer COntext is
    NULL} @else {
    <h2 class="text-3xl text-center font-semibold leading-tight">Edit Order</h2>

    <form
      [formGroup]="orderForm"
      class="max-w-2xl mx-auto bg-light-fill dark:bg-dark-section p-8 rounded-sm shadow-lg"
    >
      <div class="gap-4">
        <div class="flex justify-between">
          <h2
            class="text-2xl font-bold mb-6 text-center text-light-heading dark:text-dark-heading"
          >
            Order #{{ this.orderContext.id!.substring(0, 7) }}
          </h2>

          <div class="flex flex-col gap-2">
            <div class="flex align-middle">
              <div class="align-middle">
                <label
                  for="datepicker"
                  class="text-sm font-medium text-light-heading dark:text-dark-heading whitespace-nowrap align-middle pr-3"
                  >Event Date
                </label>
              </div>
              <input
                type="date"
                id="datepicker"
                class="form-input rounded-sm appearance-auto pr-2"
                (change)="onEventDateChange($event.target)"
                [value]="
                  orderForm.get('eventDate')?.value
                    | date : 'yyyy-MM-dd' : 'UTC'
                "
              />
              <div
                class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none"
              >
                <svg
                  class="h-5 w-5 text-gray-400"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    fill-rule="evenodd"
                    d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
            </div>
            <div class="flex align-middle">
              <label
                for="eventType"
                class="text-sm font-medium text-light-heading dark:text-dark-heading whitespace-nowrap align-middle pr-3"
                >Event Type</label
              >
              <select
                id="eventType"
                class="form-input rounded-sm appearance-auto pr-2"
                [formControlName]="'eventTypeId'"
              >
                @for (event of eventTypesContext; track event.id) {
                <option [ngValue]="event.id">{{ event.name }}</option>
                }
              </select>
            </div>
          </div>
        </div>
        <div class="flex items-stretch gap-7">
          <div class="flex-col flex-1 w-1/2">
            <label
              for="customer"
              class="block text-md font-medium text-light-heading dark:text-dark-heading pl-3"
              >Bill To:
            </label>
            <div
              class="p-4 border-[1px] rounded bg-light-fill border-light-content dark:bg-dark-input dark:border-dark-heading"
            >
              <p class="text-sm text-light-content dark:text-dark-content">
                {{
                  this.customerContext.firstName +
                    " " +
                    this.customerContext.lastName
                }}
              </p>
              <p class="text-sm text-light-content dark:text-dark-content">
                {{
                  this.getAddressLine1(this.customerContext.billingAddressId)
                }}
              </p>
              <p class="text-sm text-light-content dark:text-dark-content">
                {{
                  this.getAddressLine2(this.customerContext.billingAddressId)
                }}
              </p>
              <p class="text-sm text-light-content dark:text-dark-content">
                {{
                  this.getAddressLine3(this.customerContext.billingAddressId)
                }}
              </p>
            </div>
          </div>

          <div class="flex-col flex-1 w-1/2">
            <label
              for="customer"
              class="block text-md font-medium text-light-heading dark:text-dark-heading pl-3"
              >Ship To:
            </label>
            <div
              class="flex-1 p-4 border-[1px] rounded bg-light-fill border-light-content dark:bg-dark-input dark:border-dark-heading"
            >
              @if(selectedShippingAddress) {
              <p class="text-sm text-light-content dark:text-dark-content">
                {{
                  selectedShippingAddress.street1 +
                    " " +
                    selectedShippingAddress.street2
                }}
              </p>
              <p class="text-sm text-light-content dark:text-dark-content">
                {{
                  selectedShippingAddress.dependentLocality +
                    ", " +
                    selectedShippingAddress.locale
                }}
              </p>
              <p class="text-sm text-light-content dark:text-dark-content">
                {{
                  selectedShippingAddress.country +
                    " - " +
                    selectedShippingAddress.postalCode
                }}
              </p>
              <a (click)="selectedShippingAddress = undefined"
                ><p
                  class="text-sm text-light-primary dark:text-dark-warning underline cursor-pointer"
                >
                  Change
                </p>
              </a>

              } @else {
              <div class="flex align-middle mb-10">
                <select
                  id="selectedShippingAddress"
                  class="form-input rounded-sm appearance-auto"
                  (change)="onShippingAddressChange($event.target)"
                >
                  <option value="">Choose Address:</option>
                  @for (address of addressContext; track address.id) {
                  <option [value]="address.id">
                    {{ address.street1 }} {{ " " }} {{ address.street2 }}
                    {{ "- " }} {{ address.dependentLocality }}
                  </option>
                  }
                </select>
              </div>
              }
            </div>
          </div>
        </div>
        <div class="grid gap-5 md:grid-cols-2 mt-5">
          @if(specifyDeliverTimes) {
          <div class="flex p-2 justify-between w-full border-b-2">
            @if(this.tempDeliveryTimes.length != 0) {
            <div>
              <div
                class="text-light-content text-sm underline underline-offset-2"
              >
                Delivery Windows:
              </div>
              <ul class="list-disc text-sm">
                @for(window of this.tempDeliveryTimes; track $index ) {
                <li class="ml-2">
                  {{ window[0] | date : "EE MMM dd" : "UTC" }} -
                  {{ window[1] | date : "EE MMM dd" : "UTC" }}
                </li>
                }
              </ul>
            </div>
            }
            <div class="flex flex-col justify-end">
              <div class="flex justify-end">
                <button
                  class="p-2 pb-1 rounded-md bg-dark-input mt-3 text-light-accent text-center h-9 w-9"
                  (click)="showDeliveryModal = true"
                  [ngClass]="{ hidden: showDeliveryModal }"
                >
                  <ng-icon
                    class="text-md text-center"
                    name="bootstrapPlusCircle"
                  />
                </button>
              </div>
              <div class="mt-3 text-end">
                <a (click)="resetDeliverWindows()"
                  ><p
                    class="text-sm text-light-primary underline cursor-pointer"
                  >
                    Remove All
                  </p>
                </a>
              </div>
            </div>
          </div>
          @if(showDeliveryModal && deliveryWindowForm != null) {
          <div
            class="fixed inset-0 bg-light-heading bg-opacity-50 justify-center items-center h-screen"
          >
            <div class="flex justify-center items-center h-full w-full">
              <div
                class="flex flex-col bg-light-section p-8 w-1/2 z-50 rounded-md"
              >
                <h2 class="text-center">New Delivery Window</h2>
                <form
                  [formGroup]="deliveryWindowForm"
                  class="flex justify-around text-center align-middle gap-4"
                >
                  <div class="flex">
                    <p class="align-middle self-center whitespace-nowrap mr-2">
                      Start Time
                    </p>
                    <input
                      type="date"
                      id="deliveryWindowStart"
                      formControlName="startTime"
                      class="form-input rounded-sm appearance-auto pr-2"
                    />
                  </div>
                  <div class="flex">
                    <p class="align-middle self-center whitespace-nowrap mr-2">
                      End Time
                    </p>
                    <input
                      type="date"
                      id="deliveryWindowEnd"
                      formControlName="endTime"
                      class="form-input rounded-sm appearance-auto pr-2"
                    />
                  </div>
                </form>

                <div class="flex justify-end gap-4 mt-5 w-full pr-5">
                  <button
                    class="p-2 rounded-lg bg-none border-2 text-light-content hover:bg-light-border"
                    (click)="showDeliveryModal = false; resetDeliverWindows()"
                  >
                    Close
                  </button>
                  <button
                    class="p-2 rounded-lg bg-light-content text-light-accent"
                    (click)="addDeliveryWindow()"
                  >
                    Add Times
                  </button>
                </div>
              </div>
            </div>
          </div>
          } } @else {
          <div class="flex justify-center">
            <button
              class="p-1 px-2 text-sm rounded-lg bg-dark-input text-light-accent h-7"
              (click)="specifyDeliverTimes = true; showDeliveryModal = true"
            >
              Specify Delivery Times
            </button>
          </div>
          } @if(specifyPickupTimes) {
          <div class="flex p-2 justify-between w-full border-b-2">
            @if(this.tempPickupTimes.length != 0) {
            <div>
              <div
                class="text-light-content text-sm underline underline-offset-2"
              >
                Pickup Windows:
              </div>
              <ul class="list-disc text-sm">
                @for(window of this.tempPickupTimes; track $index ) {
                <li class="ml-2">
                  {{ window[0] | date : "EE MMM dd" : "UTC" }} -
                  {{ window[1] | date : "EE MMM dd" : "UTC" }}
                </li>
                }
              </ul>
            </div>
            }
            <div class="flex flex-col justify-end">
              <div class="flex justify-end">
                <button
                  class="p-2 pb-1 rounded-md bg-dark-input mt-3 text-light-accent text-center h-9 w-9"
                  (click)="showPickupModal = true"
                  [ngClass]="{ hidden: showPickupModal }"
                >
                  <ng-icon
                    class="text-md text-center"
                    name="bootstrapPlusCircle"
                  />
                </button>
              </div>
              <div class="mt-3 text-end">
                <a (click)="resetPickupWindows()"
                  ><p
                    class="text-sm text-light-primary underline cursor-pointer"
                  >
                    Remove All
                  </p>
                </a>
              </div>
            </div>
          </div>
          @if(showPickupModal && pickupWindowForm != null) {
          <div
            class="fixed inset-0 bg-light-heading bg-opacity-50 justify-center items-center h-screen"
          >
            <div class="flex justify-center items-center h-full w-full">
              <div
                class="flex flex-col bg-light-section p-8 w-1/2 z-50 rounded-md"
              >
                <h2 class="text-center">New Pickup Window</h2>
                <form
                  [formGroup]="pickupWindowForm"
                  class="flex justify-around text-center align-middle gap-4"
                >
                  <div class="flex">
                    <p class="align-middle self-center whitespace-nowrap mr-2">
                      Start Time
                    </p>
                    <input
                      type="date"
                      id="pickupWindowStart"
                      formControlName="startTime"
                      class="form-input rounded-sm appearance-auto pr-2"
                    />
                  </div>
                  <div class="flex">
                    <p class="align-middle self-center whitespace-nowrap mr-2">
                      End Time
                    </p>
                    <input
                      type="date"
                      id="pickupWindowEnd"
                      formControlName="endTime"
                      class="form-input rounded-sm appearance-auto pr-2"
                    />
                  </div>
                </form>

                <div class="flex justify-end gap-4 mt-5 w-full pr-5">
                  <button
                    class="p-2 rounded-lg bg-none border-2 text-light-content hover:bg-light-border"
                    (click)="showPickupModal = false; resetPickupWindows()"
                  >
                    Close
                  </button>
                  <button
                    class="p-2 rounded-lg bg-light-content text-light-accent"
                    (click)="addPickupWindow()"
                  >
                    Add Times
                  </button>
                </div>
              </div>
            </div>
          </div>
          } } @else {
          <div class="flex justify-center">
            <button
              class="p-1 px-2 text-sm rounded-lg bg-dark-input text-light-accent h-7"
              (click)="specifyPickupTimes = true; showPickupModal = true"
            >
              Specify Pickup Times
            </button>
          </div>
          }
        </div>

        <div class="flex flex-col justify-center mt-5">
          <label
            for="deliveryPickupNotes"
            class="text-sm font-medium text-light-heading dark:text-dark-heading pl-4"
            >Delivery/ Pickup Notes:
          </label>
          <textarea
            type="textarea"
            id="deliveryPickupNotes"
            formControlName="deliveryPickupNotes"
            class="form-input rounded-md appearance-auto resize-y"
          >
          </textarea>
        </div>

        <div class="flex flex-col justify-center mt-5">
          @if(this.orderItemForm != null) {
          <div class="mt-4 mb-1">
            <h2 class="text-lg text-light-content">Items:</h2>
          </div>
          <form
            [formGroup]="orderItemForm"
            class="flex justify-between w-full gap-2 bg-light-section dark:bg-dark-section text-light-heading dark:text-dark-heading uppercase text-sm font-semibold"
          >
            <div class="flex w-2/3 gap-2">
              <select
                id="selectItemCategory"
                class="form-input rounded-sm appearance-auto px-3"
                (change)="onItemCategoryChange($event.target)"
                formControlName="categoryId"
              >
                <option value="">Category</option>
                @for (category of itemCategories; track category.id) {
                <option [value]="category.id">{{ category.name }}</option>
                }
              </select>

              <select
                id="selectItem"
                class="form-input rounded-sm appearance-auto px-3"
                (change)="onSelectItemChange($event.target)"
                formControlName="itemId"
              >
                <option value="">Item</option>
                @for (item of filteredItems; track item.id) {
                <option [value]="item.id">{{ item.name }}</option>
                }
              </select>
            </div>
            <div class="flex gap-2 justify-end w-1/3 align-middle">
              <input
                id="qty"
                type="number"
                formControlName="qty"
                step="1"
                class="form-input rounded-md appearance-auto px-5 text-"
                min="1"
                max="10000"
              />

              <!-- Error messages -->
              @if (i['qty'].invalid && i['qty'].touched) {
              <div>
                @if (i['qty'].errors?.['required']) {
                <small class="error"> required </small>
                }
              </div>
              }

              <button
                class="flex p-2 pb-1 rounded-md bg-dark-input text-light-accent text-center text-md"
                (click)="addOrderItem()"
              >
                <p class="mt-0.5">Add</p>
                <ng-icon
                  class="ml-2 text-md text-center flex align-middle mt-1"
                  name="bootstrapPlusCircle"
                />
              </button>
            </div>
          </form>
          }

          <!-- <h2
                class="text-lg text-light-heading dark:text-dark-heading text-center"
              >
                Items:
              </h2> -->

          <table class="min-w-full leading-normal px-9 mt-2">
            <thead>
              <tr
                class="bg-light-section rounded-md dark:bg-dark-section text-light-heading dark:text-dark-heading uppercase text-sm font-semibold"
              >
                <th>{{ " " }}</th>
                <th
                  class="pr-3 pl-16 py-3 border-b-2 border-light-border dark:border-dark-border text-left"
                >
                  Item (Category - Name)
                </th>

                <th
                  class="px-3 py-3 border-b-2 border-light-border dark:border-dark-border text-right"
                >
                  Qty
                </th>
                <th
                  class="px-3 py-3 border-b-2 border-light-border dark:border-dark-border text-left"
                >
                  Price
                </th>

                <th
                  class="px-3 py-3 border-b-2 border-light-border dark:border-dark-border text-right"
                >
                  Total
                </th>
              </tr>
            </thead>
            @if(orderItems.length > 0) { @for(item of orderItems; track $index)
            {

            <tr
              class="hover:bg-light-accent hover:dark:bg-dark-accent bg-light-section dark:bg-dark-border border-light-border dark:border-dark-border cursor-pointer"
            >
              <td>
                <ng-icon
                  class="text-md p-4 text-light-error"
                  name="bootstrapTrash3"
                  (click)="this.removeOrderItem(item.itemId)"
                />
              </td>
              <td class="pr-3 pl-16 py-2 text-sm text-left">
                {{ getItemCategoryName(item.itemId) }} -
                {{ getItemName(item.itemId) }}
              </td>

              <td class="px-3 py-2 text-sm text-right">
                {{ item.qty }}
              </td>
              <td class="px-3 py-2 text-sm text-left">
                {{ getItemPrice(item.itemId) | currency }}
              </td>

              <td class="px-3 py-2 text-sm text-right">
                {{ item.qty * getItemPrice(item.itemId!)! | currency }}
              </td>
            </tr>

            } } @else {

            <h2
              class="w-full text-2xl my-5 text-center text-light-heading dark:text-dark-heading"
            >
              No Items
            </h2>

            }
          </table>
          <div class="mt-2 justify-end flex">
            <p class="text-light-heading text-right mr-2 font-semibold">
              Subtotal:
            </p>
            <p class="text-light-heading text-right font-semibold">
              {{ this.calcualteSubTotal() | currency }}
            </p>
          </div>
          <div class="mt-2 flex justify-between">
            <div class="w-1/3">
              <label for="paymentTerms" class="text-xs text-left"
                >Payment Terms</label
              >
              <select
                id="paymentTerms"
                class="form-input rounded-sm appearance-auto px-3 py-1"
                formControlName="paymentTerms"
                (placeholder)="this.orderForm!.get('paymentTerms')!.value"
              >
                @for (item of paymentTerms; track $index) {
                <option [value]="item.value">
                  {{ item.label }}
                </option>
                }
              </select>
            </div>
            <div class="flex flex-col justify-end w-1/4">
              <label for="taxRate" class="text-xs text-right">Tax Rate</label>
              <input
                id="taxRate"
                class="form-input rounded-sm appearance-auto px-3 py-1"
                [disabled]="true"
                [value]="this.orderContext.taxRate"
              />
            </div>
          </div>
          <div class="my-2 justify-end">
            <p class="text-md text-right">
              Shipping: {{ this.shippingRates[3] | currency }}
            </p>

            @if(calcualteSubTotal() > 0) {
            <h3 class="text-lg text-right font-bold">
              Order Total:
              {{ calculateOrderTotal() | currency }}
            </h3>

            }
          </div>
        </div>
      </div>
    </form>

    <div class="max-w-2xl mx-auto mt-4 flex justify-center">
      <button
        [disabled]="!this.orderForm.valid"
        class="bg-light-content w-1/2 dark:bg-dark-content text-light-section dark:text-dark-accent py-2 px-4 rounded-full disabled:bg-light-heading cursor-pointer disabled:cursor-not-allowed"
        (click)="onSubmit()"
      >
        <p class="text-center">Submit Order</p>
      </button>

      <!-- <button
            class="bg-light-content mt-4 w-1/4 dark:bg-dark-content text-light-section dark:text-dark-accent py-2 px-4 rounded-full disabled:bg-light-heading cursor-pointer disabled:cursor-not-allowed"
            (click)="logData()"
          >
            <p class="text-center">Log Data</p>
          </button> -->
    </div>
    } } }
  </div>
</div>
